@import url("global.css");
@import url("./imports/footer.css");

.workshop {
  background: url("../../../assets/backgrounds/blue-bg.webp") no-repeat center /
    cover;
  text-align: center;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 80px;
}

.workshop__image {
  width: 140px;
  margin-bottom: 20px;
}

.workshop__text {
  width: 70%;
  margin: 0 auto 20px auto;
}

.workshop .cta-btn {
  width: 300px;
  margin: 20px auto;
  display: flex !important;
}


.workshop__wrapper {
  width: 80%;
  max-width: 900px;
  height: 500px;
}


.workshop .title {
  margin-bottom: 10px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .workshop__wrapper {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .workshop__wrapper {
    height: 240px;
  }
}

@media (max-width: 400px) {
  .workshop__wrapper {
    height: 180px;
  }
}
